*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --destaques:#C08976;
    --textosecundario:#967D75;
    --botaoprincipal:#EB8B6A;
    --textoprincipal:#6B5F5B;
    --cards:#41312C;
    --background:#33211A;
}
body{
    overflow-x: hidden;
    background-color: var(--background);
    width: 100%;
}

.conteiner{
    display: flex;
    justify-content: center;
    margin: 10rem auto;
    text-align: center;
    flex-direction: column;
}
.botoes input[type="radio"] {
    display: none;
}
.caixa{
    display: flex;
    align-items: center;
    justify-items: center;
    align-self: center;
    height: 200px;
}
.botoes label {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.219);
    margin: 0 6px;
    cursor: pointer;
    transition: background-color .3s ease, transform .3s ease;
}

.botoes input[type="radio"]:checked + label {
    background-color: var(--botaoprincipal);
    transform: scale(1.15);
}
.main img{
    margin-left: 155px;
    width: 362.67px;
    height: 366px;
}
.main p{
    margin-top: 81px;
    font-weight: 700;
    color: var(--textosecundario);
    text-align: left;
    font-size: 16px;
}
.oculto{
    transition:  all 1s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    visibility: hidden;
}
#backgroundmain{
    background-color: var(--cards);
    width: 100vw;
    height: 1080px;
}
main{
    margin-right: 2rem;
    margin-left: 2rem;
    position: relative;
}
.sobre{
    gap: 276px;
    display: flex;
}
.main{
    margin-top: 60px;
    width: 1920px;
    height: 1109px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.main h2{
    text-align: center;
    color: var(--textosecundario);
    font-weight: 600;
    font-size: 128px;
}
.icons{
    margin-top: 105px;
    display: flex;
    gap: 244px;
}
.icons img{
    width: 98px;
    height: 99px;
}
.linha{
    border: solid 7px var(--textosecundario);
    width: 936px;
    height: 1px;
    margin-top: 10px;
    border-bottom: 1px;
}
.descricao{
    width: 936px;
    height: 317px;
}
.habilidades{
    margin-top: 200px;
}
.backgroundprojetos{
    background-color: var(--destaques);
    height: 1119px;
    width: 100%;
}
.backgroundprojetos h2{
    font-size: 128px;
    color: var(--textosecundario);
    text-align: center;
}
.caixao{
    gap: 120px;
    display: flex;
    justify-content: center;
    margin-top: 130px;

}
.card{
    border-radius: 25px;
    height: 487px;
    width: 404px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px black;
}
#projetos{
    position: relative;
}
#projetosdesign, #projetosdev{
    position: absolute;
}