*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --destaques:#C08976;
    --textosecundario:#967D75;
    --botaoprincipal:#EB8B6A;
    --textoprincipal:#6B5F5B;
    --cards:#41312C;
    --background:#33211A;
}

body{
    font-family: "inter", sans-serif;
    overflow-x: hidden;
    background-color: var(--background);
    width: 100%;
}

/* TOPO + LOGO + BOTÕES   */

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem auto;
    text-align: center;
}

.caixa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.botoes input[type="radio"] {
    display: none;
}

.botoes label {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 6px;
    cursor: pointer;
    transition: background-color .3s ease, transform .3s ease;
}

.botoes input[type="radio"]:checked + label {
    background-color: var(--botaoprincipal);
    transform: scale(1.15);
}

/* ÁREA PRINCIPAL          */

#backgroundmain{
    width: 100vw;
    background-color: var(--cards);
    position: relative;
    min-height: 1080px;
    overflow: hidden;     
}

/* Cada tela (dev/design) */
.main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 1;
    visibility: visible;
}

.oculto{
    opacity: 0;
    visibility: hidden;
}

/* CONTEÚDO DAS SEÇÕES    */

.sobre{
    display: flex;
    gap: 150px;
    justify-content: center;
}


.main p{
    margin-top: 40px;
    color: white;
    font-size: 18px;
}

.descricao{
    width: 936px;
}

.linha{
    width: 936px;
    height: 1px;
    margin-top: 15px;
    border-bottom: 7px solid var(--textosecundario);
}
.descricao p{
    font-weight: 400;
}
.apr{
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.habilidades{
    text-align: center;
    margin-top: 100px;
}

.main h2{
    color: var(--textosecundario);
    font-size: 90px;
    font-weight: 600;
}

.icons{
    margin-top: 90px;
    display: flex;
    gap: 196px;
    justify-content: center;
}

.icons img{
    width: 98px;
    height: 99px;
}

/* PROJETOS                */

#projetos{
    position: relative;
}

#projetosdesign,
#projetosdev{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.backgroundprojetos{
    background: linear-gradient(to bottom, #c08976, #967d75);
    min-height: 1119px;
    width: 100%;
}

.backgroundprojetos h2{
    font-size: 128px;
    color: #F2E4D8;
    text-align: center;
    letter-spacing: 2px;
}

.caixao{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 130px;
}

.card{
    width: 404px;
    height: 487px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 10px black;
}
