*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --destaques:#C08976;
    --textosecundario:#967D75;
    --botaoprincipal:#EB8B6A;
    --textoprincipal:#6B5F5B;
    --cards:#41312C;
    --background:#33211A;
}

body{
    font-family: "inter", sans-serif;
    overflow-x: hidden;
    background-color: var(--background);
    max-width: 100%;
}

header{
    padding: 10px;
    background-color: #41312c;
}
.menuic img{
    width: 33px;
    height: 33px;
}
header p{
    padding-top: 5px;
    font-size: 20px;
}
.menubar{
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: space-between;
}
/* TOPO + LOGO + BOTÕES   */
.caixa img{
    width: 500px;
}
.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem auto;
    text-align: center;
}

.caixa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.botoes input[type="radio"] {
    display: none;
}

.botoes label {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 6px;
    cursor: pointer;
    transition: background-color .3s ease, transform .3s ease;
}

.botoes input[type="radio"]:checked + label {
    background-color: var(--botaoprincipal);
    transform: scale(1.15);
}

/* ÁREA PRINCIPAL          */

#backgroundmain{
    width: 100vw;
    background-color: var(--cards);
    position: relative;
    min-height: 1080px;
    overflow: hidden;     
}

/* Cada tela (dev/design) */
.main{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 1;
    visibility: visible;
}

.oculto{
    opacity: 0;
    visibility: hidden;
}

/* CONTEÚDO DAS SEÇÕES    */

.sobre{
    display: flex;
    gap: 150px;
    justify-content: center;
}


.main p{
    margin-top: 40px;
    color: white;
    font-size: 18px;
}

.descricao{
    width: 936px;
}

.linha{
    width: 936px;
    height: 1px;
    margin-top: 15px;
    border-bottom: 7px solid var(--textosecundario);
}
.descricao p{
    font-weight: 400;
}
.apr{
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.habilidades{
    text-align: center;
    margin-top: 100px;
}

.main h2{
    color: var(--textosecundario);
    font-size: 90px;
    font-weight: 600;
}

.icons{
    margin-top: 90px;
    display: flex;
    gap: 196px;
    justify-content: center;
}

.icons img{
    width: 98px;
    height: 99px;
}

/* PROJETOS                */

#projetos{
    position: relative;
}

#projetosdesign,
#projetosdev{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.backgroundprojetos{
    background: linear-gradient(to bottom, #c08976, #967d75);
    min-height: 1119px;
    width: 100%;
}

.backgroundprojetos h2{
    font-size: 128px;
    color: #F2E4D8;
    text-align: center;
    letter-spacing: 2px;
}

.caixao{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 130px;
}

.card{
    width: 404px;
    height: 487px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 10px black;
}

@media screen and (max-width:500px){
    header p{
        font-size: 16px;
    }
    .conteiner{
        margin: 2rem auto;
    }
    .menubar{
        justify-content: center;
    }
    .caixa img{
        max-width: 280px;
    }
    .botoes label {
        width: 9px;
        height: 9px;
    }
    .main p{
        font-size: 11px;
    }
    .sobre{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    .apr{
        width: 400px;
        min-height: auto;
    }
    .icone img{
        width: 200px;
        min-height: auto;
    }
    .nome img{
        width: 100px;
        min-width: 200px;
        height: auto;
    }
    .nome{
        display: flex;
        justify-content: center;
    }
    .icone{
        display: flex;
        justify-content: center;
    }
    .descricao{
        padding: 25px;
        min-width: 250px;
    }
    .linha{
        width: 100%;
        min-width: 350px;
    }
    .habilidades{
        display: none;
    }
    .icons{
        margin-top: 50px;
        gap: 50px;
        flex-wrap: wrap;
    }
    .icons img{
        width: 30px;
        height: auto;
    }
    .main p{
        margin: 0;
    }
    #projetos h2{
        margin-top: 100px;
        font-size: 30px;
    }
    .caixao{
        flex-wrap: wrap;
        gap: 50px;
        margin-top: 50px;
    }
    .card{
        width: 100px;
        height: 100px;
        border-radius: 3px;
    }
    #backgroundmain{
        height: auto;
    }
}